---
layout: default
title: Klever Studio Студия Веб Дизайн
seo:
  title: Заказать Сайт Визитку В Клевер Студио
  description: Студия веб дизайна и веб разработки. Создание сайтов с уникальным, кастомным дизайном. Сайты визитки для брендов.
  social_image:
  twitter_card:
  keywords: веб дизайн, веб разработка, сайты под ключ, лендинг страницы, seo продвижение, чистый код, кроссбраузерность, адаптивный интерфейс
  hide-from-google: false
portfolio: 
 - heading: Салон красоты
   image: /images/ona-ipad.jpg
   description: Многостраничный корпоративный сайт салона красоты ONA BEAUTY HUB с персонализированным дизайном. Дополнительная навигация между страницами позволяет в 1-2 клика оказаться на целевой странице нужной услуги. Комбинаторика размещения обширного прайс-листа позволила представить на сайте абсолютно все услуги с их детализацией.
   link: /work/ona-beauty-hub
 - heading: Стилист-трендвотчер
   image: /images/evd-mock-pc.jpg
   description: Разработан дизайн сайта стилиста и трендвотчера Stylist-Evdokimova. Цель - передать уникальность в работе, профессионализм и открытость. Нестандартное расположение меню оказалось оправданным риском. Красочное портфолио раскрывает творческий потенциал Марии и индивидуальный подход к каждому клиенту.
   link: /work/stylist-evdokimova
 - heading: Онлайн йога студия
   image: /images/instinct-mock-pc.jpg
   description: Персонализированный вебсайт для онлайн йога студии Instinct Yoga Studio. Цель - создание онлайн-пространства и членской платформы для клиентов студии. Монохромный и лаконичный дизайн с использованием свободного пространства, четкой типографики, hand-made изображений, а также настраиваемая графика для лучшего восприятия информации.
   link: /work/instinct-yoga-studio
testimonials:
 - text: Лилия взялась за работу по созданию моего сайта в очень ограниченные сроки и великолепно справилась с задачей, приняв во внимание все мои пожелания и нововведения в процессе работы, даже самые незначительные. Я безумно довольна результатом! Лилия обучила меня процессу модерации и редакции сайта, поэтому в дальнейшем я могу заниматься сайтом самостоятельно. От всей души могу порекоммендовать Лилию как профессионала высшего качество, добросовестно работающего даже в сложных условиях ограниченного времени.
   author: Юлия О'Брайен - основательница йога студии "Инстинкт" (Голд-Кост, Австралия) 
 - text: Как эксперту, который развивает свой бизнес мне было важно дополнить свои соц сети ещё одним инструментом коммуникации - сайтом. Я обратилась к Лиле, как к специалисту. У меня были определённые требования, которые важны лично для меня. Это не шаблонность, эстетичность, гармоничная картинка, удобство в навигации для моих клиентов, возможность поместить на сайт разные услуги. Я не опиралась на какие-то сроки, скорее Лиля сама меня подгоняла и это тоже плюс! У нас получился отличный результат - сайт в моей эстетике, а мне как стилисту это было важно! Спасибо огромное Лиля за терпение и внимание к деталям и мелочам. Ты супер!
   author: Мария Е. - стилист - аналитик - трендвотчер (Санкт-Петербург, Россия)
 - text: Хочу поблагодарить Лилию за проделанную работу, вебсайт выглядит великолепно! Намного лучше чем я планировала и ожидала, получился очень мягкий и плавный интерфейс, все предложения мне очень нравятся, ещё раз большое спасибо!
   author: Марина С. - владелица салона красоты ONÅ Beauty Hub (Дубай, ОАЭ) 
---



<!------------KLEVER-------------->

{% include klever-rotated.html %}


<!-----------------BANNER SECTION----------------------->
<section class="grid home-banner">
    <div class="col-6_xs-12 grid">
      <div class="col-12-bottom padded-2 right mob-left">
        <h2 class="logo-txt"> <span class="show-md"> Klever</span> studio. </h2>
        <!-- <div class="padded-r padded-b">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div> -->
      </div>
    </div>
    <div class="col-6_xs-12 banner tall-100 md-tall-55 relative bg-light mob-hide">
      <nav class="hover-links" id="hover-links">
        <a href="/home#about" id="webdesign" class="active">WebDesign</a>
        <a href="/blog" id="lifestyle">Lifestyle</a>
        <a href="/home#work" id="portfolio">Portfolio</a>
        <a href="#" id="identika">Identika</a>
        <a href="#" id="seo">Seo</a>
      </nav>
      <div class="hover-image webdesign"></div>
      <div class="hover-image lifestyle hidden"></div>
      <div class="hover-image portfolio hidden"></div>
      <div class="hover-image identika hidden"></div>
      <div class="hover-image seo hidden"></div>
    </div>
  </section>

  <section class="padded"></section>

<!------------About Section-------------

<section class="bg-water padded tall-70 grid-middle-spaceAround center border">
    <div class="col-10-sm-12-middle center grid" data-aos="fade-up">
        <div class="col-6 padded hide-md"></div>

        <div class="col-6_sm-12-middle padded bg-overlay bg-overlay-teal text-light">
            
            <h2 class="lower"> Студия веб дизайна </h2>   
            <p class="padded-t left"> / чистый код <br>/ кастомный дизайн <br>/
                айдентика вашего бренда <br>/ аудит сайта <br>/ SEO
            </p>
        </div>
    </div>
</section> 
---------------------------------------->

<section class="grid padded flex-flip-sm" id="about">
    <div class="col-6_sm-12 bg-white bg-liliia" data-aos="fade-up"> </div>
    <div class="col-5_sm-12-middle padded" data-aos="fade-up"> 
        <h1 class="text-lg"> Сайт-визитка с: </h1>
        <ul>
            <li class="padded-t"> уникальным кастомным дизайном;</li>
            <li class="padded-t"> брендовой айдентикой;</li>
            <li class="padded-t"> индивидуальным подходом к созданию структуры; </li>
            <li class="padded-t"> уникальным образом вашего бренда, который не затеряется в толпе.</li>
        </ul>
    </div>
    
</section>

<!----- Text banner------->

<section class="padded center grid-center padded-b-0">
    <div class="col-8_md-12" data-aos="fade-up">
        <hr class="center wide">
        <p> Крафтовый/ чистый/ созданный с нуля код онлайн-пространства позволит осуществить любые задумки. По сути всё, что можно нарисовать на бумаге или в графическом редакторе можно перенести на страницу браузера. Klever Studio - это место, где создается что-то необычное, максимально адаптированное под голос вашего бренда. </p>
        <hr class="center wide">
    </div>
</section>

<!-- Grid of services  ------------->
<section class="padded grid-center icon-section padded-r12" data-aos="fade-up" id="services">
    <div class="col-1 hide-sm"></div>
    <div class="col-3_sm-12 padded-1p center">
        <img src="/icons/computer.png">
        <h3> Дизайн. </h3>
        <p class="text-12"> Создание уникального образа и стиля для вашего бренда. Персонифицированный подбор цветовой гаммы, шрифтов и структуры для вашего сайта. Дизайн помогает передать правильные ощущения, которые испытывает клиент при первом контакте с вашим брендом.</p>
    </div>
    <div class="col-3_sm-12 padded-1p center">
        <img src="/icons/coding.png">
        <h3> Разработка. </h3>
        <p class="text-12"> Чистый код сделает ваш сайт эффективным, быстрым, распознаваемым на любом устройстве и в любом браузере. Индивидуальность кода позволяет реализовать любые задумки дизайна и интерактива сайта.</p>
    </div>
    <div class="col-3_sm-12 padded-1p center">
        <img src="/icons/seo-tag.png">
        <h3> SEO. </h3>
        <p class="text-12"> SEO-оптимизация приведет дополнительных клиентов без дополнительных затрат. Индексация поисковиками позволит узнать о вашем бизнесе большему количеству людей, которые в дальнейшем могут стать вашими клиентами.</p>
    </div>
</section>


<!------Sign up newsletter-
<section class="padded-2 bg-dark center text-light grid-middle-center padded-b-0"> 
    <p class="margin-b-0 emphasis"> Получить <span class="featured"> бесплатно </span> чек-лист.</p>
    <img src="/images/right-arrow.svg" class="right-arrow">

    <div class="col-12 padded-2p">
        <div class="ml-form-embed"
            data-account="3563855:m5l2t5f7c0"
            data-form="4972769:e2p5w0">
        </div>
    </div> 
</section>
--->

<!---Bsnner section---->
<section class="padded10 md-padded grid-center">
    <div class="col-10_sm-12 grid-center bg-seno bg-mob" data-aos="fade-up">
        <div class="col-6_sm-6 border padded"></div>
        <div class="col-6_sm-6 border padded"></div>
    </div>
    <div class="col-6 padded margin-t-m7"></div>
    <div class="col-6 border-left padded margin-t-m7 z-10" data-aos="fade-up"></div>
    <div class="col-10_sm-12 padded center" data-aos="fade-up">
        <a class="emphasis-button" href="/enquiries"> контакты </a>
    </div>
    
</section>

<!--------------Portfolio ------------------>
<section class="grid-center padded padded-t-0 padded-b-0 md-margin-t md-padded-t" id="work">
    <div class="col-1 hide-md"></div>
    <div class="col-4_md-12">
        <div class="hightlight" data-aos="fade-up">
            <h3 class="large-title">
                <span class="highlight"> портфолио.</span>
            </h3>
        </div>
    </div>
    <div class="col-6 hide-md"></div>
    <div class="col-12 hide-md"></div>
</section>            
              
<section class="padded centered padded-t-0 relative z-10">
    <div class="grid-center padded-1 z-10" data-aos="fade-up">

        {% for item in page.portfolio %}
        <div class="col-4_md-12 grid">
            <div class="col-12 left bg-light">
                <h3 class="margin-t1 margin-b1 upper md-padded-t"> {{item.heading}} </h3>
            </div>
            <a class="col-12 grid border-all" href="{{item.link}}">
                <div class="col-12 relavive hover-container" style="background-image:url('{{item.image}}')">
                    <div class="col-12 hover-overlay">
                      <div class="col-12-middle left hover-inner center">
                        <p class="padded left"> {{item.description}} </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-8 padded-1p flex-display bg-light">
                      <h4 class="text-lg">Подробнее </h4>
                  </div>
                  <div class="col-4 flex-display bg-light">
                      <p class="large-title"> + </p>
                  </div>
            </a>
        </div>
        {% endfor %}

    </div>
</section>  

<!------Reviews----->

<section class="grid-center padded mob-padded-0">
    <div class="col-12 center" data-aos="fade-up" data-aos-duration="2000">
        <img class="quote" src="/images/quote.png">
    </div>
    <div class="col-8_md-11_sm-12 center" data-aos="fade-up" data-aos-duration="2000">
      <div class="testimonial-slider-container testimonial">
    <!--------------SLIDE 1---------------->

    {% for item in page.testimonials %}
        <div class="slider-item">
          <p>{{item.text}}</p>
          <p class="right author">{{item.author}}</p>
        </div>
      {% endfor %}

</div>
</div>
</section>

<!-------Contacts -->
<section class="padded hide-md"></section>
<section id="contact" class="grid-center padded">
    <div class="col-12 center padded-2">
        <h2> Контакты </h2>
    </div>
    <div class="col-1 hide-md"></div>
    <div class="col-4_md-5-middle_xs-12 padded-2 md-padded-1 sm-padded-b" data-aos="fade-up"> 
        <h4><strong>Klever Studio ~ Лилия </strong> </h4>
        <p> Online / <a href="/enquiries" class="padded-1"> Связаться по Email</a>  </p>
        <p> Лично / Москва </p>
        <p> Рабочее время / Пн-Пт 9-18 </p>
        <p> В социальных сетях /<a href="https://www.instagram.com/leelyok/" target="_blank" class="padded-1">@leelyok</a>
        </p>
        <p> Telegram /<a href="https://t.me/klevercreative" target="_blank" class="padded-1">Klever Creative</a>
        </p>
    </div>
    <div class="col-5_md-7_xs-12 bg-image bg-meeting tall-80 md-tall-60 sm-tall-50" data-aos="fade-up"> </div>
</section>


