* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img { max-width: 100%; }

[class*=grid] {
    margin:0;
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    /*padding: 5%;*/
    /*font-family: 'Gruppo', cursive;
    font-family: 'Jura', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-text);
    background-color: var(--light);
    overflow-x: hidden;
    /*display: flex;
    align-items: center;
    justify-content: center;
    */
  }

  

.parking {
    background-image: url('/images/klever-studio1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: rgb(81, 75, 75);
    justify-content: center;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;

}

  
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }

[class*="col"] {
    padding: 0;
  }

.padded      { padding: 5%;    }
.padded10    { padding: 10%;    }
.padded-1p   { padding: 1%;    }
.padded-2p   { padding: 2%;    }
.padded-05 { padding: 0.5rem;  }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }
.padded-6  { padding: 6rem;  }
.padded-10  { padding: 10rem;  }


.padded-t  { padding-top: 5%;     }
.padded-b  { padding-bottom: 5%;  }
.padded-l  { padding-left: 3%;    }
.padded-r  { padding-right: 5%;   }

.padded-r12  { padding-right: 12%;   }

.padded-0 { padding: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-t-0 { padding-top: 0; }
.padded-l-0  { padding-left: 0;  }
.padded-sides { padding: 0 3rem; }

.margin-b-0 { margin-bottom: 0; }

.margin-b1 { margin-bottom: 1rem; }
.margin-t1 { margin-top: 1rem; }
.margin-t0 { margin-top: 0; }

.margin      { margin: 1rem; }
.margin-10ntb     { 
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
 }
.margin-t-m7 { margin-top: -7rem; }
.margin-t-m1 { margin-top: -1rem; }
.margin-t-m4 { margin-top: -4rem; }

.margin-b-1 { margin-bottom: 1rem;}
.margin-b-2 { margin-bottom: 2rem;}


.bg-light     { background-color: var(--light);}
.bg-white     { background-color: #ffffff;}
.bg-green     { background-color: #9b9b81;}
.bg-black     { background-color: #414141;  }
.bg-dark      { background-color: #5a5a4e; }

.bg-yellow { background-color: #f9ba4e; }
.bg-blue { background-color: #c6e1e8; }
.bg-red { background-color: #c86757; }

.text-light { color: #fff; } 
.text-dark {  color: #5e5746;}


.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }
.justify {  text-align: justify; }

.emphasis {
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    word-spacing: 0.2rem;
}
.emphasis2 {
    font-size: 1.2rem;
    font-weight: 300;
}

.upper { text-transform: uppercase;  }

.featured {
    color: #b8806c;
    font-weight: 700;
}

.capped-width {
    max-width: 1000px;
    margin: auto;
}

.capped-width-narrow {
    max-width: 900px;
    margin: auto;
}

.flex-flip-alternate:nth-child(even) {
    flex-direction: row-reverse;
}

/* Typography */

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Prata', serif;
}

h2,h3,h4,h5,h6 {
    margin-bottom: 0.5rem;
    /*letter-spacing: -0.01em;*/
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

p  {
 font-weight: 300;   
 line-height: 1.4;
 margin-bottom: 0.8rem;
 font-size: 13pt;
}


p:last-child{
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 1s;
}

nav a {
    text-decoration: none;
    padding: 0.6rem;
    transition: all 1s;
}

a:hover { color: var(--accent); }

.border10 { border-radius: 10px;}

.border  { border: 20px solid #f7f4ef;}
.border30  { border: 30px solid #f7f4ef;}

.border-left {
    border-left: 2px solid #000;
  }

.block    { display: block;}

.button {
  text-decoration: none;
  border: 2px solid; 
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 400;
  color: #9d614c;
  border-radius: 0.5rem;
}

.button:hover {
    color: #dec4bb;
}

.lower {
    text-transform: lowercase;
    font-weight: 300;
}

.subtle { 
    opacity: 0.8;
    font-size: 0.9rem;
}

.text-big {  font-size: 4rem;}
.text-bold  { font-weight: bold;}
.text-lg {   font-size: 18pt;}
.text-sm {   font-size: 0.6rem;}

.right-arrow {
    max-width: 2rem;
    margin-left: 1rem;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #ede5e0 50% );
    width: 70%;
  }

.large-title {
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 300;
}

.button-2 {
    border-bottom: 1px solid;
    padding: 2% 3%;
    display: inline-block;
    text-align: right;
    text-transform: lowercase;
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    margin: .4rem .3rem;
    -webkit-appearance: none;
    cursor: pointer;
}



/* Header & Footer  */

header {
    padding: 1.5% 0;
    font-weight: 500;
    font-size: 1.1rem;
}

footer h2 {
    font-family: 'Gruppo', cursive;
}

footer {
    color: rgb(240, 240, 240);
}

footer a:hover { 
    color: #9d614c; 
}

/*  BURGER MENU   */
.burger-button {
  position:fixed;
  top: 3vh;
  right: 2vh;
  z-index: 20;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 40px;
  border: 1px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
  z-index: 20;
}
.burger-button.active span{
  border-color: black;
  background-color:black;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
  transform: rotateZ(270deg);
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-menu {
  display: flex;
  position: fixed;
  top: 0;
  left:100vw;
  right: 0vw;
  bottom: 0;
  background-color: #f0ebe2;
  color: #000;
  padding:5px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 15;
  transition:1s;
  align-content:space-around;
  justify-content:space-around;
  flex-direction:column;
}
.burger-menu.active{
left:1100px;
right:0;
}

.burger-menu a {
text-decoration: none;
font-size: 20px;
font-weight: 200;
letter-spacing: 0.1rem;
display:block;
padding:5px 15px;
text-align:center;
white-space:nowrap;
}

.burger-menu a:hover {
color: black
}
/*   FINISH BURGER MENU   */


/*  Mobile Menu Styles  */

.mobile-menu {
  display: none; 
  background-color: #faf4ed;
  padding: 5%;
  position: fixed; 
  top:0;
  bottom: 0;
  left:0;
  right:0;
  text-align: left;
  z-index: 13;
}

.mobile-menu a {
  text-decoration: none; 
  color: inherit; 
  padding: 5vh 5%;
  display: block;
  font-family: 'Lora', serif;
  font-weight: normal;
  font-size: 1.5rem;
 }
 
 .hamburger-button {
    cursor: pointer;
    padding: 1.5rem;
    display: inline-block;
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 0.8;
    position: fixed;
    right: 1rem;
    top: 0rem;
    z-index: 15;
 }
 
 .hamburger-button i {
    font-size: 2.2rem;
    margin-bottom: 0;
 }

.hamburger-button.active {
    color: #9d614c;
  }

.inline a p {
    display: block;
    padding: 0.6rem;
}

/*  Home Banner */

  /* BANNERS */

  .banner,
  .banner-with-header {
    background-image: url('/images/adventure.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .banner .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(	249, 240, 231,.5);
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
  }

  .banner-inner {
    z-index: 2;
    position: relative;
  }

  .fixed {
    background-attachment: fixed;
  }

.banner, .banner-with-header {
    background-image: url("/images/klever-mock-pc.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }

.home-banner .bump-left {
  position: absolute;
  left: -50%;
  width: 50%;
}

.home-banner .hover-image {
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  opacity: 1;
  transition: all 0.5s;
}

.hover-image.hidden {
  opacity: 0;
  transition: all 1s;
}

.active {
  color: #0f0f0f;
}

.mob-horizontal-scroll .bg-image {
    position: relative;
    padding-bottom: 160%;
  }

  .hover-image.fashion,
  .bg-image.fashion {
    background-image:url('/images/klever-mock-pc.jpg');
  }

  .hover-image.lifestyle,
  .bg-image.lifestyle {
    background-image:url('/images/evd-mock.jpg');
  }

  .hover-image.product,
  .bg-image.product {
    background-image:url('/images/instinct-ipad2.jpg');
  }

  .hover-image.venue,
  .bg-image.venue {
    background-image:url('/images/ona-ipad.jpg');
  }

  .hover-image.food,
  .bg-image.food {
    background-image:url('/images/evd-mock-pc.jpg');
  }

/* Home Page Nav Links*/

nav.hover-links {
  position: absolute;
  transform: rotate(270deg);
  left: -12.2rem;
  top: 16rem;
  z-index: 3;
}

.hover-links a {
  display: inline-block;
  font-size: 1rem;
  padding: 0.2rem;
}



/* Icon Grid Section  */
.icon-section img {
    max-width: 3rem;
    opacity: 0.8;
    margin: 1rem 0;
}

.rotated {
    text-align: right;
    transform: rotate(270deg) translateX(-500px) translateY(-165px);
    transform-origin: 50% 50%;
    font-size: 8rem;
    letter-spacing: .2rem;
    color: #414141;
    font-family: 'Lora', serif;
    font-weight: 400;
    position: fixed;
}

.relative {  position: relative; }

.img-product {
    object-fit: cover;
    object-position: center;
    height: 80vh;
    width: 100%;
    transition: 1s ease;
    position: absolute;
    top: 0;
}
.hide-2 {
    opacity: 0;
}
.hide-3 {
    display:none
}

.flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*   Advanced CSS    */

.bg-overlay {
    position: relative;
  }
  
  .bg-overlay::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
  }
  
  .bg-overlay > * {
    position: relative;
  }
  
  
  .bg-overlay-teal::before {
    background-color: rgba(137, 132, 90, 0.7);
  }
  
  
  /* Gradient Overlay  */ 
  
  .bg-overlay-gradient::before { 
    background: linear-gradient(0, rgba(0,0,0,0.5), rgba(0,0,0,0));
  } 

  .bg-overlay1 {
    position: relative;
  }
  
  .bg-overlay1::before {
    content: ""; 
    position: absolute;
    top: 4rem;
    left: 25rem;
    bottom: 4rem;
    right: 25rem;
    background-color: rgba(0,0,0,0.6);
  }
  
  .bg-overlay1 > * {
    position: relative;
  }
  
            
              
  .hover-container {
    background-size: cover;
    background-position: center;
  }
  
  .hover-overlay {
    position: relative;
    padding-bottom: 115%;
    color: rgba(255, 255, 255, 0);
    position: relative;
    /* you only need to use relative + absolute if you want to determine the exact aspect ratio of the container */
    transition: all 0.9s;
  }
  
  .hover-overlay:hover {
    background-color: rgba(61, 61, 61, 0.7);
    color: white;
  }
  
  .hover-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .hover-inner p {
    margin-bottom: 0;
  }
    
  .border-all {
    border: 1px solid black;
  }


  .border-b {
    border-bottom: 1px solid;
    padding: 2% 3%;
    display: inline-block;
    color: #343838;
    letter-spacing: .2rem;
    margin: .4rem .3rem;
    -webkit-appearance: none;
    cursor: pointer;
  }

  
  .mobile-menu hr {
    margin-left: 4.1rem;
  }
  

hr {
    border: none;
    border-bottom: 2px solid;
    width: 4rem;
}

hr.wide {
    width: 8rem;
    margin: 2rem auto;
}

/* Background Images */

.bg-image {
    background-color:rgb(240,240,240); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.profile-image {
    border-radius: 100%;
}

.landscape {
    padding-bottom: 65%;
}

.bg-plant {
    background-image: url('/images/plant.jpg');
    background-position: 50% 43%;
    background-size: cover;
}

.bg-sand {
    background-image: url('/images/plant-sand.jpg');
    background-size: cover;
    background-position-y: -44%;
}

.bg-geom {
    background-image: url('/images/abstract-design.jpg');
    background-size: cover;
    background-position-y: 24%;
}

.bg-water {
    background-image: url('/images/klever-studio1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.bg-seno {
    background-image: url('/images/zolotukhina-webdesign.jpg');
    background-position: 53% 50%;
    background-size: cover;
    min-height: 100vh;
}


.bg-instinct {
    background-image: url('/images/inst-mock1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bg-instinct1 {
    background-image: url('/images/about-instinct1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 90vh;
}

.bg-instinct2 {
    background-image: url('/images/inst-mock.png');
    background-position: center; 
}

.bg-instinct3 {
    background-image: url('/images/about-instinct4.png');
    background-position: center; 
}

.bg-evdokimova {
    background-image: url('/images/evd-mock-pc.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 90vh;
}

.bg-evdokimova2 {
  background-image: url('/images/evd-mock.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 90vh;
}

.bg-ona {
  background-image: url('/images/ona-ipad.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 90vh;
  padding-bottom: 70%;
}

.bg-ona2 {
  background-image: url('/images/ona-ipad3.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 90vh;
}

.fixed {  background-attachment: fixed; }

.bg-plant-2 {
    background-image: url('/images/plant-2.jpg');
}

.bg-liliia {
  background-image: url('/images/zolotukhina-webdesigner.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 60vh;
}
.bg-meeting {
    background-image: url('/images/liliia-zolotukhina-webdesigner.jpg');
    background-position: top;
}
.bg-mockup {
    background-image: url('/images/mockup.jpg');
}

.right-arrow {
    max-width: 2rem;
    margin-left: 1rem;
}

/* Contact Form */
form input,
form textarea {
 	width: 100%;
 	margin: 0.5rem 0;
	padding: 0.5rem;
 	border: 2px solid #a2745c;
 	outline: none;
 	font-family: inherit;
 	font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
 	border-color: #9b9b81;
}

textarea {
 	min-height: 4rem;
}

form label {
	margin-top: 1rem;
 	display: block;
 	color: #a2745c;
 	font-weight: bold;
}

form .button {
   	border: 2px solid #a2745c;
   	background: none;
   	color: #a2745c;
   	font-weight: bold;
   	padding: 0.5rem 2rem;
   	margin-top: 1rem;
}

/* Responsive Video */

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
    max-width: 100%; 
}
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.logo {    width: 180px;}

.home-banner .logo-txt {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 8vw;
    line-height: 1.1;
    border-bottom: 3px solid;
    margin-right: -6rem;
    padding-right: 8rem;
    margin-bottom: 10%;
    position: relative;
    z-index: 2;
    padding-bottom: 1rem;
  }


.fas {
    font-size: 3rem;
    padding-top: 2%;
}
  
.emphasis-button {
    border: 1px solid;
    padding: 1.5% 3%;
    display: inline-block;
    text-align: center;
    /*font-family: grandslang-roman,sans-serif;*/
    text-transform: lowercase;
    color: #fff;
    background-color: #282829;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    margin-top: -3rem;
    -webkit-appearance: none;
  }

  .z-10 {
      z-index: 10;
  }

  #typed {
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Prata', serif;
    letter-spacing: 0.3rem;
  }
  
  .typed-cursor {
    font-size: 2rem;
  }

  /*  styling of landing form mailer*/
  #mlb2-4972769.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
    max-width: 900px;
}

/*  dropdown menu*/

.dropdown {
    position: relative;
    display: inline-block;
   }
.dropdown-title {
    padding: 0.35rem 0.5rem;
    display: inline-block;
   }
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 1rem;
    padding: 0.5rem;
    display: none;
    background-color: white;
    z-index: 2;
    text-align: left;
    min-width: 10rem;
   }
.dropdown:hover .dropdown-content {
    display: block;
   }
.dropdown-content a {
    display: block;
   }

   /* Card Styles  */


.card {
    padding-top: 1.5rem;
    color: white;
    border-radius: 5px;
    min-height: 500px;
    max-width: 95%;
  }
  
  .card:hover {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.2),0 10px 10px -5px rgba(0,0,0,.2);
  }
  
  .card h3 {
    font-size: 1.8rem;
  }
  
  .card img {
    margin-top: -2.5rem;
  }
 
  @media (min-width: 1850px) {
.margin-b-m31 { margin-bottom: -31rem;}
}

  
/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md,
.hide {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
    .show-md { display: block; }
    .hide-md { display: none;  }
    
    .md-tall-80 {  min-height: 80vh;}
    .md-tall-70 {  min-height: 70vh;}
    .md-tall-60 {  min-height: 60vh;}
    .md-tall-55 {  min-height: 55vh;}
    
    .md-padded  { padding: 5%;}
    .md-padded-t  {
        padding-top: 5%;
    }

    .md-padded-1 {
        padding: 1%;
    }
    .md-margin-t  {  margin-top: 5%;}

    .emphasis2 { font-size: 1rem; }
    
    header h3 { font-size: 10vw;}
    h1 { font-size: 2.5rem;}
    .burger-menu.active{    left:0;    }
    .bg-water {
        background-image: url('/images/klever-studio6.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
    }

    .parking { background-image: url('/images/klever-studio6.jpg'); }
    .bg-overlay-teal::before {
        background-color: rgba(13, 60, 80, 0.9);
    }

    .bg-overlay1::before {
        content: ""; 
        position: absolute;
        top: 5rem;
        left: 5rem;
        bottom: 5rem;
        right: 5rem;
        background-color: rgba(13, 60, 80, 0.9);
      }
    
      .hover-overlay {
        padding-bottom: 75%;
      }

    .padded-10 { padding: 1rem;}

    .rotated { 
        color: #fff;
        font-size: 5rem;
     }

     .bg-mob {    min-height: 65vh;  }

     .border  { border: 15px solid #f7f4ef; }
     .bg-instinct {   min-height: 50vh;   }
     .bg-evdokimova {   min-height: 50vh;   }
     .bg-evdokimova2 {   min-height: 50vh;   }
     .bg-ona {   min-height: 50vh;   }
     .bg-ona2 {   min-height: 50vh;   }
     .bg-liliia {   min-height: 40vh;    }
  }

/* SM - max-width in pixels approximately 768px */
@media(max-width: 48em) {

    .hide-sm { display: none;  }

    .center-sm { text-align: center; }

    .flex-flip-sm { flex-direction: column-reverse; }

    .bg-plant {
        background-image: url('/images/plant-light.png');
    }
    
    .bg-plant-2 {
        background-image: url('/images/plant-2-light.png');
        background-position: 45% 50%;
    }

    .bg-instinct {
        min-height: 34vh;
    }

    .bg-instinct1 {
        min-height: 39vh;
    }
    .sm-tall-50 {  min-height: 50vh;}

    .margin-10 {  margin: 0;}

    h1 { font-size: 2rem;}
    h2 { font-size: 1.4rem;}
    h3 { font-size: 1.3rem;}
    p {  font-size: 0.9rem;}

    .emphasis { font-size: 0.9rem; }
    .emphasis2 { font-size: 1rem; }
    .text-big { font-size: 2.5rem; }

    .large-title {
      font-size: 2.5rem;}

    .horizontal-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 7%;
      }
      .card img {
        margin-top: -25%;
      }
      .mob-padded-0 {
        padding-left: 0;
        padding-right: 0;
      }

      .md-padded-0 { padding: 0; }
      .sm-padded-b  {
        padding-bottom: 5%;
    }

    .mob-left {  text-align: left;  }
}

@media(max-width: 36em) {

    h1 { font-size: 1.3rem;}

    h3 { font-size: 1.1rem;}

    .bg-overlay1::before {
        content: ""; 
        position: absolute;
        top: 5rem;
        left: 3rem;
        bottom: 5rem;
        right: 3rem;
        background-color: rgba(13, 60, 80, 0.9);
      }
   
}

