    <!--------------------Footer---------------->
    <footer>
        <section class="grid-center bg-black padded-2 padded-b-0">
            <div class="col-8_sm-12 center">
                <a href="/home"> 
                    <h2 class="text-light text-big"> KLEVER</h2> 
                </a>
                <nav class="inline margin-b-2 hide-sm">
                    <a href="/home"> Главная </a>
                    / 
                    <a href="/home#work"> Портфолио </a>
                    / 
                    <a href="/enquiries"> Контакты </a>
                </nav>
                <p class="text-sm text-light"> Copyright Klever Studio 2022 </p>
            </div>
        </section>
    </footer>