<header class="grid-spaceAround bg-light">
    <nav class="col-4-middle right hide">
        <a href="/home"> Главная </a>
        <a href="#"> Портфолио </a>
        <a href="#contact"> Контакты </a>
    </nav>
    <div class="col-3-middle center hide">
        <a href="/"> 
            <img class="logo" src="/images/klever-logo-main.svg">
        </a>
    </div>
   
        <nav class="col-5-middle left hide">
            <!--<a href="/home"> Главная </a>
            <a href="/portfolio"> Портфолио </a>-->
            <a href="#contact"> Сотрудничество </a>
           <!-- <a href="#" class="emphasis-button"> Бесплатные материалы </a>---> 

           <div class="dropdown">
            <a href="/freebies" class="dropdown-title emphasis-button"> Бесплатные материалы </a>
            <div class="dropdown-content">
              <a href="#"> WorkBook </a>
              <a href="#"> Аудит сайта </a>
              <a href="#"> Чек-лист </a>
            </div>
          </div>

        </nav>

        <div class="col-7 right">
            <div class="burger-button">
              <span class="burger-top"></span>
              <span class="burger-middle"></span>
              <span class="burger-bottom"></span>
            </div>
        </div>
   
</header>


<!----------Mobile menu-------->
<nav class="burger-menu bg-light text-dark padded">
    <a href="/"> 
        <h2> KLEVER studio </h2></a>
    <a href="/home"> Главная </a>
    <a href="/home#work"> Портфолио </a>
    <a href="/blog"> NEBLOG </a>
    <a href="/enquiries"> Сотрудничество </a>
    <a href="/home#contact"> Контакты </a>
    <a class="emphasis-button" href="/seo-audit"> аудит сайта</a>
    <!---<a href="/freebies"> Бесплатные материалы </a>--->
</nav>