<!-- adds jQuery library to your site -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

 <!-- adds Fancybox Javascript -->
 <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


 <!-----our animate scroll-->
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

 <!-- Lightgallery for pop-ups  -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>


  <!----Typed js-->
 <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

 <!-- MailerLite Universal -->
 <script>
     (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
     var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
     f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
     var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
     _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
     
     var ml_account = ml('accounts', '3563855', 'm5l2t5f7c0', 'load');
     </script>
     <!-- End MailerLite Universal -->

<!-----our custom Javascript file------>
<script src="/scripts.js"></script>